body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
    height: auto !important;
    min-height:100%;
}

/* Align logo to top of nav bar*/
.navbar-brand {
    padding-top: 0px;
  }

.navbar-nav.navbar-right .glyphicon-user {
    color: #fff; 
    padding-right: 5px
}

.navbar-nav.navbar-right .username {
    color: #fff; 
    padding-right: 5px
}

.navbar-nav.navbar-right .glyphicon-menu-down {
    color: rgba(255,255,255,0.6); 
    padding-right: 20px
}

.navbar-nav.navbar-right .user-menu {
    cursor: pointer;
    box-shadow: none;
    padding-top: 15px;
    display: inline-block;
    padding-right: 60px;
}

.navbar-nav.navbar-right .user-menu-list i.glyphicon{
    padding-right: 10px;
    color: #333;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#textfont {
    color: white;
}

/*ul.nav > li > a:hover {
    background-color: #FFFFFF;
    color: #337ab7;
    font-weight: bold;
    font-family: 'Electrolize', sans-serif;
    border-style: inset;
}*/

.navbar-fixed-top {
    background: #06c; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, white , #06c); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, white, #06c); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, white, #06c); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, white , #06c); /* Standard syntax (must be last) */ 
    height:51px
}

  
    .fontA {
        color: maroon;
        margin: 0;
        padding-right: 0;
        font-family: 'Antic', sans-serif;
    }
    .fontB {
        color: black;
        margin: 0;
        padding-left: 0
    }

    .fontC {
        /*color: rgb(178,173,43);*/
        color: black;
        margin: 0;
        font-size: 15px;
        padding-left: 0;
        font-family: 'Electrolize', sans-serif;
    }

    .fontC .h4 {
        font-size: 30px;
        font-size: 3.5vw;
    }

    .fontD {
        padding-left: 0;
        font-family: 'Electrolize', sans-serif;
    }

    /*.XmoduleHeader {
        font-family: 'Electrolize', sans-serif;
        color: maroon;
        text-align: center;
    }*/

    .wrap img {
        position: absolute;
        bottom: 0;
        padding-bottom: 10px;
    }

    .wrap img:nth-of-type(1) {
        left: 0;
        height: 80px;
        width: 30%;
       
    }

    .wrap img:nth-of-type(2) {
        right: 0;
        height: 80px;
        width: 30%;
        padding-right: 5px;
    }

  div.xhelper {
    min-height: 450px;
    height: auto;
    width: 450px;
    border-style: inset;
    border-width: 2px;
    border-style: ridge;
    border-color: black;
    -webkit-transform: perspective( 450px ) rotateY( 35deg );
    -moz-transform: perspective( 450px ) rotateY( 35deg );
    -ms-transform: perspective( 450px ) rotateY( 35deg );
    -o-transform: perspective( 450px ) rotateY( 35deg );
    transform: perspective( 450px ) rotateY( 35deg );
   }
  
  @media only screen and (max-width:479px) {
      div.xhelper{ width: 90%;height: 150%;}
      .wrap img { width: 90%;}
      .fontA { width: 90%;}
      .fontB { width: 90%;}
      .fontC { width: 90%;}
      /*.fontD { width: 90%;}*/
  }
  
  
  #main
    {
        background-color: #fff;
        border-top: solid 10px #000;
        color: #333;
        font-size: .85em;
        font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
        margin: 0;
        padding: 0;
        height:10px
    }

  .k-grid table {
   table-layout: fixed;
}

.k-grid tbody tr{
    height: 20px;
}

.k-grid td{
    white-space: nowrap;
    text-overflow: ellipsis;
    
}

.nav-stacked > li + li:hover, 
.nav-stacked > li + li:focus{
    margin-left: 20px;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/*#imageLeft {
    float:left; 
    height:80px; 
    width:80px;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}

#imageRight {
    float:right; 
    height:80px; 
    width:90px;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    padding-right: 5px;
}*/

.x_left{float:left; width:30%;}
.x_right{float:right; width:30%;}

#loginForm .button-login { margin-right: 15px; }
#loginForm .input-group-addon.user-icon, #loginForm .input-group-addon.lock-icon { border: none;position: relative; }
#loginForm .input-group-addon.user-icon img { position: absolute;top: 5px;left: 0; }
#loginForm .input-group-addon.lock-icon  img { position: absolute;top: 7px;left: 0; }
#loginForm #icon-login-msg { background-color: transparent; }
#loginForm .remeber-me { margin-left: 29px; }
#loginForm .remeber-me label { padding-left: 0; }

.modal-body { padding: 5px; }


/* modals vertical alignment */
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
    padding: 0 10px;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}
/* end of modals vertical alignment */

/* Manage Modal */
#ManageLogin iframe {
    width: 99%;
    height: 450px;
}

/* loading progress bar */
.curtain {
    display: none; 
    position: absolute; 
    top: 0; left: 0; 
    width: 100%; height: 100%; 
    z-index: 1031;
    background: rgba(0, 0, 0, 0.5);
}
.progress {
    width: 50%; 
    margin: auto;
}

@media screen and (max-width:667px) {
    .progress {
        width: 90%; 
    }

    .navbar-inverse .navbar-collapse.in {
        background-color: #fff;
        border: 1px solid #101010;
    }
    .navbar-collapse.in span {
        color: #333 !important;
    }
    .navbar-collapse.in .navbar-nav.navbar-right .user-menu {
        padding-top: 0;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #333;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

@media (min-width: 768px) {
    .navbar-right .dropdown-menu.user-menu-list {
        right: auto;
        left: 0;
    }    
}